<div class="list">
  <div class="title">Verivox table</div>
  <div class="list-filters" [formGroup]="filtersForm">
    <div class="filter-wrapper">
      <div>Name filter</div>
      <input type="text" max="50" formControlName="name"/>
    </div>
    <div class="filter-wrapper">
      <div>Speed filter</div>
      <input type="text" max="50" formControlName="downloadSpeed"/>
    </div>
    <div class="filter-wrapper">
      <div>Price filter</div>
      <input type="text" max="50" formControlName="price"/>
    </div>
  </div>
  <div class="list-table">
    <div class="list-element" *ngFor="let item of tariffs$ | async; let i = index">
      <div class="element-number">{{ i }}</div>
      <div class="element-name">{{ item.name }}</div>
      <app-traffic-speed [tariffData]="item"></app-traffic-speed>
      <div class="element-benefits">
        <div class="element-benefit" *ngFor="let benefit of item.benefits">{{ benefit  }}</div>
      </div>
      <div class="element-price-action">
        <div class="element-price">{{ item.price | currency:'€' }}</div>
        <button class="element-decide" (click)="seeMore()">To tariff ></button>
      </div>
    </div>
  </div>
