<div class="element-speed">
  <div class="download-speed">
    <div class="wrapper">
      <div class="item">
        <button>{{ tariffData.downloadSpeed }}
          <i class="fa fa-long-arrow-right arrow1" aria-hidden="true"></i>
        </button>
      </div>
    </div>
    <div class="upload-speed">
      <div class="wrapper">
        <div class="item">
          <button>{{ tariffData.uploadSpeed }}
            <i class="fa fa-long-arrow-right arrow1" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
